<div class="container">
  <div class="row justify-content-md-around" style="padding-top: 10px;">
    <div class="col">
      <h1>About us</h1>
      <% if @about_us.any? %>
        <ul>
          <% @about_us.each do |data| %>
            <h3> <%= data.title %> </h3>
            <p><%= raw(data.description) %></p>
          <% end %>
        </ul>
      <% else %>
        <p>about us not found.</p>
      <% end %>
    </div>
  </div>
</div>
