<div class="con-class">
    <h4 class="row justify-content-md-center custom-content-class"> 
        <%= link_to mosque.full_name, home_path(mosque), class: "text-decoration-none text-primary fs-6 text-center navbar-brand" %>
    </h4>
    <p class="row justify-content-md-center" style="text-transform: capitalize;"> 
        <table style="padding-top: 0;">
            <tr>
                <th class="table-text-align-right">
                    <strong> Address </strong>
                </th>
                <td class="table-text-align-left">
                    <%= mosque.address %>
                </td>
            </tr>
            <tr>
                <th class="table-text-align-right">
                    <strong> Contact No </strong>
                </th>
                <td class="table-text-align-left">
                    <%= mosque.contact_no %>
                </td>
            </tr>
            <tr>
                <th class="table-text-align-right">
                    <strong> Mutawalli </strong>
                </th>
                <td class="table-text-align-left">
                    <%= mosque.manager %>
                </td>
            </tr>
        </table>
    </p>
</div>
