/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.custom-class {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  text-align: center;
  color: blue; /* Example color */
  width: 20%; /* Example width */
  height: 100%; /* Example height */
  padding-right: 30%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
}
.custom-title-class {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  text-align: center;
  color: blue; /* Example color */
  width: 20%; /* Example width */
  border: 1px solid black;
  padding-right: 30%;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
}

.custom-heading-class {
  color: seagreen;
  padding-top: 20px;
}

.con-class {
   border: 2px solid lightblue; /* Example border */
  padding: 10px; /* Example padding */
  padding-top: 0px; /* Example padding */

}

.table-text-align-right {
  text-align: right;
}

.table-text-align-left {
  text-align: left;
}

.overflow-class {
  width: 300px; /* Example width */
  height: 300px; /* Example height */
  overflow: auto; /* Add overflow property */
}

.overflow-class {
  width: 300px; /* Example width */
  height: 300px; /* Example height */
  overflow: auto; /* Add overflow property */
}

.show-class {
  width: 300px; /* Example width */
  overflow: auto; /* Add overflow property */
}

.box-class {
  width: 300px; /* Example width */
  height: 200px; /* Example height */
  overflow: auto; /* Add overflow property */
}

.custom-content-class {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
  background-color: lightblue;
  height: 30px;
/*  width: 120%;*/
  text-transform: capitalize; /* Specify the height of the container */
}

.overflow-hidden-class {
  width: 300px; /* Example width */
  height: 300px; /* Example height */
  border-bottom: 2px solid lightblue;
  overflow: hidden; /* Add overflow property */
}

.notification {
  margin-bottom: 10px; /* Margin bottom */
  animation: slide-up 5s ease-out forwards infinite; /* Apply animation */
}

.custom-content-heading-class {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center;
/*  align-items: center;  Center horizontally */
  text-align: center;
  background-color: lightblue;
  height: 40px;
  width:350px;
  text-transform: capitalize; /* Specify the height of the container */
}